extends ./index.pug

block content
    .container
        .row
            .col-lg-5.mx-auto
                h2 Profile                 
                div
                .card(style='width: 18rem;')
                .card-body
                | <h5> Name: </h5>
                p#name.card-text #{user}
                div
                | <h5> Email: </h5>
                p#email.card-text #{email}
                div
                | <h5> Organization: </h5>
                p#affiliation.card-text #{affiliation}
                
                button#logout_button.btn.btn-primary Logout 
                br
                br
                //button#user_delete_button.btn.btn-primary Delete
                            
                
            .col-lg-6.mx-auto
                h2 Preferences
                .card(style='width: 18rem;')
                .card-body
                | <h4> Vacation &nbsp;
                input( id='vacation' type='checkbox' width='20px' checked=preferences.vacation )
                div
                | <h4> Time Interval to Receive Alerts &nbsp;
                select(id='interval' width='4px')
                    option(value='1') 1 Hour Intervals
                    option(value='2') 2 Hour Intervals
                    option(value='4') 4 Hour Intervals
                    option(value='8') 8 Hour Intervals
                    option(value='12') 12 Hour Intervals
                    option(value='24') 24 Hour Intervals
                br
                br
                button#update_preferences_button.btn.btn-primary Update Preferences

block extra_scripts
    script.
        //- this function works. button not really needed.
        //- ( function () {
        //-     $(":checkbox").change(function(){
        //-         const key=$(this).attr('id');
        //-         const chc=$(this).is(':checked');
        //-         data={};
        //-         data[key]=chc;
        //-         console.log('data',data);
        //-         const toSend=JSON.stringify(data);
        //-         console.log('toSend',toSend);
        //-         alert('data to send:' + toSend);
        //-         $.ajax({
        //-             type: "POST",
        //-             url: "/user/#{userId}",
        //-             data: toSend,
        //-             success: function() { alert( "ALL OK" ); },
        //-             contentType: "application/json; charset=utf-8",
        //-             dataType: "json"
        //-         });
        //-     });
        //- }());
        
        ( function () {
            $('#update_preferences_button').click((event) => {
                event.preventDefault();
                console.log('Update preferences called');

                const data = {};
                data.vacation = $('#vacation').is(':checked');
                var dropdown = document.getElementById('interval');
                data.mail_interval = dropdown.value*3600;
                const toSend=JSON.stringify(data);
                console.log('toSend',toSend);
                let jqxhr = $.ajax({
                type: 'post',
                url: '/user/preferences/#{userId}',
                contentType: 'application/json',
                data: toSend,
                success() {
                    console.log('success');
                    //window.location.href = '/profile';
                },
                error(xhr, textStatus, errorThrown) {
                    alert(`Error code:${xhr.status}.${xhr.responseText}`);
                    //window.location.href = '/profile';
                }
                });
                setTimeout(location.reload.bind(location), 150);

            });
        }());
