extends ./index.pug

block content
    .container
        .row
            .col-lg-5.mx-auto
                h1 Profile  
                dl 
                    dt Name:
                    dd #{user}
                    dt Email:
                    dd #{email}
                    dt Organization:
                    dd #{affiliation}
                button#logout_button.btn.btn-primary Logout 
                            
            .col-lg-6.mx-auto
                h1 Preferences
                ul#pref_ul.list-group.list-group-flush    
                    each val, key in config
                        li.list-group-item #{val.name} &nbsp;
                            if val.type==='boolean'
                                input.prefs( id=key type='checkbox' width='20px' checked=preferences[key] )
                            if val.type==='number'
                                input.prefs( id=key type='number' width='20px' value=preferences[key] )
                            if val.type==='email'
                                input.prefs( id=key type='email' width='20px' value=preferences[key] )
                button#update_preferences_button.btn.btn-primary Update Preferences

block extra_scripts

    script.
        function isValidEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }

    script.
        (  function () {
            $('#update_preferences_button').click((event) => {
                event.preventDefault();
                console.log('Update preferences called');
                const data = {};
                var prefs = document.getElementsByClassName("prefs");
                for (var i = 0; i < prefs.length; i++) {
                    if (prefs[i].type === 'checkbox' ){
                        data[prefs[i].id]=prefs[i].checked;
                    }
                    if (prefs[i].type === 'number' ){
                        data[prefs[i].id]=Number(prefs[i].value);
                    }
                    if (prefs[i].type === 'email'){
                        if (prefs[i].value!=="" && isValidEmail(prefs[i].value)===false){
                            alert(`Please input valid email.`);
                            return;
                        } 
                        data[prefs[i].id]=prefs[i].value;
                    }
                }
                console.log('new prefs:', data);

                const toSend=JSON.stringify(data);
                console.log('toSend',toSend);
                let jqxhr = $.ajax({
                    type: 'post',
                    url: '/user/preferences/#{userId}',
                    contentType: 'application/json',
                    data: toSend,
                    success() {
                        console.log('success');
                        //window.location.href = '/profile';
                    },
                    error(xhr, textStatus, errorThrown) {
                        alert(`Error code:${xhr.status}.${xhr.responseText}`);
                        //window.location.href = '/profile';
                    }
                });
                setTimeout(location.reload.bind(location), 150);

            });
        }());
