extends ./index.pug

block content
    .container
        .row
            .col-lg-5.mx-auto
                h1 Profile  
                dl 
                    dt Name:
                    dd #{user}
                    dt Email:
                    dd #{email}
                    dt Organization:
                    dd #{affiliation}
                button#logout_button.btn.btn-primary Logout 
                            
            .col-lg-6.mx-auto
                h1 Preferences
                ul.list-group.list-group-flush    
                    li.list-group-item Vacation &nbsp; 
                        input( id='vacation' type='checkbox' width='20px' checked=preferences.vacation )
                    li.list-group-item Time Interval to Receive Alerts &nbsp;
                        select(id='interval' width='4px')
                            option(value='1') 1 Hour Intervals
                            option(value='2') 2 Hour Intervals
                            option(value='4') 4 Hour Intervals
                            option(value='8') 8 Hour Intervals
                            option(value='12') 12 Hour Intervals
                            option(value='24') 24 Hour Intervals
                            
                button#update_preferences_button.btn.btn-primary Update Preferences

block extra_scripts
    script.
        //- this function works. button not really needed.
        //- ( function () {
        //-     $(":checkbox").change(function(){
        //-         const key=$(this).attr('id');
        //-         const chc=$(this).is(':checked');
        //-         data={};
        //-         data[key]=chc;
        //-         console.log('data',data);
        //-         const toSend=JSON.stringify(data);
        //-         console.log('toSend',toSend);
        //-         alert('data to send:' + toSend);
        //-         $.ajax({
        //-             type: "POST",
        //-             url: "/user/#{userId}",
        //-             data: toSend,
        //-             success: function() { alert( "ALL OK" ); },
        //-             contentType: "application/json; charset=utf-8",
        //-             dataType: "json"
        //-         });
        //-     });
        //- }());
        
        ( function () {
            $('#update_preferences_button').click((event) => {
                event.preventDefault();
                console.log('Update preferences called');

                const data = {};
                data.vacation = $('#vacation').is(':checked');
                var dropdown = document.getElementById('interval');
                data.mail_interval = dropdown.value*3600;
                const toSend=JSON.stringify(data);
                console.log('toSend',toSend);
                let jqxhr = $.ajax({
                    type: 'post',
                    url: '/user/preferences/#{userId}',
                    contentType: 'application/json',
                    data: toSend,
                    success() {
                        console.log('success');
                        //window.location.href = '/profile';
                    },
                    error(xhr, textStatus, errorThrown) {
                        alert(`Error code:${xhr.status}.${xhr.responseText}`);
                        //window.location.href = '/profile';
                    }
                });
                setTimeout(location.reload.bind(location), 150);

            });
        }());
